<form id="singleUploadForm" name="singleUploadForm" action="/" method="POST" enctype="multipart/form-data">
    <h1 mat-dialog-title class="roboto">Registrar nuevo documento asociado al servicio</h1>
    <br/>
    <mat-dialog-content>
        <div class="row">
            <div class="col col-sm-12">
                <mat-form-field appearance="outline"  style="display: block;">
                    <mat-label>Categoria</mat-label>
                    <mat-select [(ngModel)]="categs" name="doc-cat" id="doc-cat">
                        <mat-option *ngFor="let cat of categorias" [value]="cat">
                            {{ cat.categoria }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <mat-form-field appearance="outline"  style="display: block;">
                    <mat-label>Tipo de documento</mat-label>
                    <mat-select [(ngModel)]="catego" name="doc-tipo" id="doc-tipo">
                        <mat-option *ngFor="let tipo of categs.documentos" [value]="tipo.id">
                            {{ tipo.documento }}
                        </mat-option>
                        <mat-option [value]="0">Otros</mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-8">
                <mat-form-field appearance="outline"  style="display: block;" *ngIf="catego == 0">
                    <mat-label>Especifique</mat-label>
                    <input matInput name="otros" id="otros" [(ngModel)]="otros">
                </mat-form-field>
            </div>
            <div class="col col-sm-4">
                <mat-slide-toggle *ngIf="catego == 0" [(ngModel)]="agregar" name="agregar">
                </mat-slide-toggle>
            </div>
        </div>
        <br/>
        <div class="row" style="display: inline!important;">
            <div class="col col-md-12">
                <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
                    <button mat-raised-button color="primary" type="submit" (click)="guardarDocumento()">Guardar</button>
                </div>
            </div>
        </div>
    </mat-dialog-content>
</form>
