html {
  font-family: 'Poppins', sans-serif !important;
}

.report-container {
  width: 98%;
  height: 100%;
  margin: 2px;
}

mat-drawer-content {
  padding: 3px;
}

.fondo {
  background-color: slategray;
  color: white;
}

.fondo-blanco {
  background-color: white;
  color:darkslategrey;
}