<div class="container-fluid">
    <h2>Nuevo proyecto</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Categoría</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="catego" multiple>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cliente</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="razon">
              <mat-option *ngFor="let personaMoral of personasMorales" [value]="personaMoral">
                {{ personaMoral.razon }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Proyecto</mat-label>
            <input matInput [(ngModel)]="proyecto.proyecto" name="nombre" placeholder="Mina Mariana" value="Sushi">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descripción breve del proyecto</mat-label>
            <textarea matInput  [(ngModel)]="proyecto.observaciones" name="observa" placeholder="Consiste en la puesta en marcha de un ..."></textarea>
        </mat-form-field>
        
          <button mat-button color="warn">Cancelar</button>
          <button mat-button color="primary" cdkFocusInitial>Guardar</button>
        
    </form>
</div>