<div class="container-fluid">
    <div class="row">
        <div class="col col-md-5">
            <h2 style="position: sticky;">
                <mat-icon>history</mat-icon> Línea de tiempo 
            </h2>
        </div>
        <div class="col col-md-1">
            <div class="float-right">
                <button mat-icon-button aria-label="Detalle" matTooltip="Registra nueva actividad"
                    (click)="nuevaActividad()" [matTooltipPosition]="'right'" class="float-right">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <div class="scroll">
                <div class="timeline">
                    <div class="timeline__group" *ngFor="let evento of eventos">
                        <span class="timeline__year time" aria-hidden="true">{{ evento.anio }}</span>
                        <div class="timeline__cards">
                            <ng-container *ngFor="let actividad of evento.actividades">
                                <div [ngClass]="actividad.clase">
                                    <header class="card__header">
                                        <time class="time">
                                            <span class="time__day">{{ actividad.dia}}</span>
                                            <span class="time__month">{{ actividad.mes }}.- </span>
                                            <span class="time__month">{{ actividad.evento }}</span>
                                        </time>
                                    </header>
                                    <div class="card__content">
                                        <div class="row">
                                            <div class="col col-md-11">
                                                <p>{{ actividad.evento }}
                                                </p>
                                            </div>
                                            <div class="col col-md-1">
                                                <div class="float-right">
                                                    <button mat-icon-button aria-label="Detalle"
                                                        matTooltip="Detalle del evento"
                                                        (click)="cargaActividad(actividad)"
                                                        [matTooltipPosition]="'right'" class="float-right">
                                                        <mat-icon>double_arrow</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-6">
            <mat-tab-group color="primary">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">event</mat-icon>
                        Detalles de la actividad
                    </ng-template>
                    <br />
                    <div class="contenedor">
                        Actividad seleccionada {{ seleccionado.evento }}
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">attach_file</mat-icon>
                        Archivos relacionados
                    </ng-template>
                    <br />
                    <div class="contenedor">
                        Actividad seleccionada {{ seleccionado.evento }}
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>