tr {
    height: 40px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.fondo {
    background-color: slategray;
    color: white;
}

.fondo-blanco {
    background-color: white;
    color: darkslategrey;
}

.blanco {
    color: white;
}

mat-card {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}


