<div class="row">
    <div class="col col-md-11">
        <h3>
            <mat-icon>menu_book</mat-icon> Trámites/Servicios
        </h3>
    </div>
    <div class="col col-md-1">
        <button mat-icon-button aria-label="Trámties/Servicios" matTooltip="Trámites/Servicios" (click)="openDialog()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>
</div>
<table title="Servicios" matSort aria-label="Listado de servicios"
    id="tblServicios" name="tblServicios" style="width: 100%">
    <tr>
        <th>No.</th>
        <th style="width: 25%;">Servicio</th>
        <th>Referencia</th>
        <th>Fecha</th>
        <th>Estatus</th>
    </tr>
    <tr *ngFor="let servicio of servicios">
        <td>{{ servicio.id }}</td>
        <td><a [routerLink]="[ruta, servicio.id, proyecto]" style="padding: 0%;">{{ servicio.servicioCorto }}</a></td>
        <td>{{ servicio.referencia }}</td>
        <td>{{ servicio.registro | date: 'dd/MM/yyyy' }}</td>
        <td>
            <span class="{{ servicio.clase }}">
                {{ servicio.estatus }}
            </span>
        </td>
    </tr>
</table>