<mat-card class="fondo-blanco">
    <div class="row">
        <div class="col col-md-11">
            <h3>
                <mat-icon>menu_book</mat-icon> Trámites/Servicios
            </h3>
        </div>
        <div class="col col-md-1">
            <button mat-icon-button aria-label="Trámties/Servicios" matTooltip="Trámites/Servicios"
                (click)="openDialog()">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
    </div>
    <table title="Servicios" matSort aria-label="Listado de servicios" class="table table-striped table-hover"
        id="tblServicios" name="tblServicios" style="width: 100%">
        <tr>
            <th>No.</th>
            <th style="width: 25%;">Servicio</th>
            <th>Institución</th>
            <th>Fecha</th>
            <th>Responsable</th>
            <th>Estatus</th>
        </tr>
        <tr *ngFor="let servicio of servicios">
            <td>{{ servicio.id }}</td>
            <td><a [routerLink]="[ruta, servicio.id]" style="padding: 0%;">{{ servicio.nombre }}</a></td>
            <td>{{ servicio.institucion }}</td>
            <td>{{ servicio.fecha | date: 'dd/MM/yyyy' }}</td>
            <td>{{ servicio.responsable }}</td>
            <td>
                <span class="{{ servicio.clase }}" >
                    {{ servicio.estatus }}
                </span>
            </td>
        </tr>
    </table>
</mat-card>