
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-11">
            <h3>
                <mat-icon>fact_check</mat-icon> Actividades
            </h3>
        </div>
        <div class="col col-md-1">
            <button mat-icon-button aria-label="Trámties/Servicios" matTooltip="Trámites/Servicios"
            (click)="openDialog()">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
    </div>
    <table title="Servicios" matSort aria-label="Listado de servicios"
        id="tblServicios" name="tblServicios" style="width: 100%">
        <tr>
            <th>No.</th>
            <th style="width: 25%;">Actividad</th>
            <th>Responsable</th>
            <th style="width: 15%;">Fecha </th>
            <th>Estatus</th>
        </tr>
        <ng-container *ngFor="let actividad of actividades">
            <tr>
                <td>{{ actividad.id }}</td>
                <td>{{ actividad.actividad }}</td>
                <td>{{ actividad.responsable }}</td>
                <td>{{ actividad.fecha | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <span class="{{ actividad.clase }}" >
                        {{ actividad.estatus }}
                    </span>
                </td>
                <td>
                    <button mat-icon-button type="button" (click)="selectActividad(actividad)">
                        <mat-icon>add</mat-icon>
                    </button>
                </td>
            </tr>
        </ng-container>
        
    </table>
</div>