html {
    font-family: 'Poppins', sans-serif !important;
}

table {
    margin: 0;
}

.rojo {
    background-color: palevioletred;
    color: darkred;
}

.verde {
    background-color:#c6fcc6;
    color: darkgreen;
}
.seleccionado {
    font-weight: bold;
}

.fondo {
    background-color: white;
    color: black;
}

.example-full-width {
    width: 100%;
  }