<div class="container-fluid">
    <div class="row">
        <div class="col col-md-6">
            <br />
            <div class="contenedor-big">
                <mat-card class="contenedor">
                    <mat-card-title>
                        <div class="row">
                            <div class="col col-md-9">
                                Catálogo de Usuarios
                            </div>
                            <div class="col col-md-2">
                                <button mat-icon-button aria-label="Nueva" class="float-right"
                                    matTooltip="Nuevo Usuario"  (click)="openDialog()">
                                    <mat-icon>add_circle_outline</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-title>
                    <table aria-label="Usuarios" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let res of usuarios" (click)="selectUser(res)"
                                [ngClass]="{seleccionado: seleccionado == res}" style="cursor: pointer;">
                                <td>{{ res.username | uppercase }}</td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </mat-card>

            </div>
            <br />
            <br />
        </div>
        <div class="col col-md-6">
            <br />
            <br />
            <mat-card style="width: 100%;" *ngIf="seleccionado">
                <mat-card-header>
                    <mat-card-title>{{ seleccionado.username }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <mat-form-field appearance="outline"  style="display: block;" class="roboto">
                            <mat-label>Nombre Usuario</mat-label>
                            <input matInput name="razon" id="razon" [(ngModel)]="seleccionado.username">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline"  style="display: block; width: 50%;">
                            <mat-label>Nombre</mat-label>
                            <input matInput name="firstName" id="firstName" [(ngModel)]="seleccionado.firstName">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline"  style="display: block; width: 50%;">
                            <mat-label>Apellidos</mat-label>
                            <input matInput name="lastName" id="lastName"
                                [(ngModel)]="seleccionado.lastName">
                        </mat-form-field>
                    </div>
                    <br />
                    <div class="row">
                        <mat-form-field appearance="outline"  style="display: block; width: 50%;">
                            <mat-label>e-mail</mat-label>
                            <input matInput name="email" id="email"
                                [(ngModel)]="seleccionado.email" >
                        </mat-form-field>
                    </div>
                    <br />
                </mat-card-content>
            </mat-card>


        </div>
    </div>
</div>
