<div class="container-fluid blanco" *ngIf="proyecto">
    <br />
    <div class="row">
        <div class="col col-md-12">
            <div class="alert alert-primary">
                <div class="row">
                    <div class="col col-md-11">

                        <div class="row">
                            <h2>
                                <mat-icon>article</mat-icon> {{ proyecto.proyecto }}
                            </h2>
                            <span class="subtitulo">
                                {{ proyecto.observaciones }}
                            </span>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col col-md-4">
                                <mat-label class="etiqueta">Cliente </mat-label><br />
                                <span class="texto">{{ proyecto.cliente }}</span><br />
                            </div>
                            <div class="col col-md-4">
                                <mat-label class="etiqueta">Ubicacion </mat-label><br />
                                <span class="texto">{{ proyecto.ubicacion }}</span><br />
                            </div>
                            <div class="col col-md-4">
                                <mat-label class="etiqueta">Sector </mat-label><br />
                                <span class="texto">{{ proyecto.sector }}</span><br />
                            </div>
                        </div>


                    </div>
                    <div class="col col-md-1">
                        <button mat-icon-button disabled class="float-end">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button disabled class="float-end">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4">
            <div class="alert alert-secondary">
                <app-servicios [proyecto]="id"></app-servicios>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="alert alert-secondary">
                <app-documentos [proyecto]="id"></app-documentos>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="alert alert-secondary">
                <app-equipo [proyecto]="id"></app-equipo>
            </div>
        </div>
    </div>
</div>