h2 {
    padding-top: 12pt;

}

.subtitulo {
    font-size: 12pt;
    color: dimgray;
    padding-bottom: 12pt;
}

.etiqueta {
    font-size: 10pt;
    color: dimgray;
}

.texto {
    font-size: 14pt;
}

.blanco {
    background-color: white;
    min-height: 600px;;
}

mat-card {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif !important;
}
