h2 {
    padding-top: 12pt;
    padding-bottom: 12pt;
}

.etiqueta {
    font-size: 12pt;
    color: dimgray;
}

.texto {
    font-size: 14pt;
    font-weight: bold;
}

.blanco {
    background-color: white;
}
