<div class="container-fluid blanco">
    <h2>
        <mat-icon>article</mat-icon> Datos del proyecto
    </h2>

    <div class="row">
        <div class="col col-md-4">
            <mat-label class="etiqueta">Nombre del proyecto </mat-label><br />
            <span class="texto">Construccion del puente elevado en algun lugar de un gran pais</span><br />
        </div>
        <div class="col col-md-4">
            <mat-label class="etiqueta">Cliente </mat-label><br />
            <span class="texto">Construcciones Importantes S.A. de C.V.</span><br />
        </div>
        <div class="col col-md-4">

        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col col-md-4">
            <mat-label class="etiqueta">Nombre del proyecto </mat-label><br />
            <span class="texto">Construccion del puente elevado en algun lugar de un gran pais</span><br />
        </div>
        <div class="col col-md-4">
            <mat-label class="etiqueta">Cliente </mat-label><br />
            <span class="texto">Construcciones Importantes S.A. de C.V.</span><br />
        </div>
        <div class="col col-md-4">

        </div>
    </div>
</div>