<div class="container-fluid">
    <div class="row">
        <div class="col col-md-8">
            <h2>Compromisos pendientes de atender</h2>
        </div>
        <div class="col col-md-4">
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Filtrar</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" title="Proyectos" matSort aria-label="Listado de proyectos"
        class="table table-striped table-hover" id="tblProyectos" name="tblProyectos">
        <ng-container matColumnDef="actividad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Actividad </th>
            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="vencimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">
                Vencimiento</th>
            <td mat-cell *matCellDef="let row">
                <span class="{{ row.semaforoColor }}" matTooltip="{{ row.semaforoEtiqueta }}">
                    {{ row.vencimiento | date: 'dd/MM/yyyy' }}
                </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="responsable">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;"> Responsable </th>
            <td mat-cell *matCellDef="let row"> {{row.responsable}} </td>
        </ng-container>
        <ng-container matColumnDef="proyecto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"> Nombre del proyecto </th>
            <td mat-cell class="celda" *matCellDef="let row" >
                <a [routerLink]="['../../proyecto', row.proyectoId]" style="padding: 0%;">
                    {{row.proyecto}}
                </a>
            </td>
        </ng-container>
        <ng-container matColumnDef="servicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Servicio </th>
            <td mat-cell *matCellDef="let row">
                <a [routerLink]="['../../servicio', row.servicioId]" style="padding: 0%;">
                    {{row.servicio}}
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="25"
        aria-label="Select page of users"></mat-paginator>
</div>