<div class="container-fluid">
    <div class="row">
        <div class="col col-md-11">
            <h2>
                <mat-icon>menu_book</mat-icon> Trámites/Servicios
            </h2>
        </div>
        <div class="col col-md-1">
            <button mat-icon-button aria-label="Trámties/Servicios" [routerLink]="['servicios', 1]"
                matTooltip="Trámites/Servicios" (click)="openDialog()">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
    </div>
    <hr />
    <table aria-label="tramites" class="table table-striped table-hover" style="width: 50%">
        <tr>
            <th>No.</th>
            <th>Servicio</th>
            <th>Institución</th>
            <th>Fecha</th>
            <th>Responsable</th>
            <th>Estatus</th>
        </tr>
        <tr>
            <td>1</td>
            <td><a [routerLink]="['../../../../servicio', 1]">MIA Particular</a></td>
            <td>Semarnat DGIRA</td>
            <td>20/03/2022</td>
            <td>Miguel Mancera</td>
            <td>
                <span class="badge badge-secondary" title="Todo bien">
                    Pendiente
                </span>
            </td>
        </tr>
    </table>
</div>