<h2 mat-dialog-title>Nuevo integrante</h2>
<mat-dialog-content class="mat-typography">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Personal</mat-label>
            <mat-select [(ngModel)]="persona" name="persona" (selectionChange)="asignaPersona(persona)">
                <mat-option *ngFor="let pers of personas" [value]="pers">
                    {{ pers.nombre }} {{ pers.primer }} {{ pers.segundo }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Roles</mat-label>
            <mat-select [(ngModel)]="data.rol" name="rol" (selectionChange)="asignaRol(data.rol)">
                <mat-option *ngFor="let rol of persona.roles" [value]="rol">
                    {{ rol.descripcion }}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="cierra()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="guardaNuevo()">Agregar</button>
</mat-dialog-actions>