.fondo {
    background-color: cadetblue;
    color: white;
  }

  .fondo-blanco {
    background-color: white;
    color:darkslategrey;
    min-height: 600px;
  }
  
  .blanco {
    color: white;
  }

  mat-card {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif !important;
}
