<div class="container-fluid fondo-blanco">
        <h2>
            <mat-icon>article</mat-icon> {{ servicio.nombre }}
        </h2>

        <div class="row">
            <div class="col col-md-4">
                <mat-label class="etiqueta">Institucion</mat-label><br />
                <span class="texto">{{ servicio.institucion }}</span><br />
            </div>
            <div class="col col-md-4">
                <mat-label class="etiqueta">Fecha </mat-label><br />
                <span class="texto">{{ servicio.fecha | date: 'dd/MM/yyyy' }}</span><br />
            </div>
            <div class="col col-md-4"></div>
        </div>
        <br />
        <div class="row">
            <div class="col col-md-4">
                <mat-label class="etiqueta">Responsable</mat-label><br />
                <span class="texto">{{ servicio.responsable }}</span><br />
            </div>
            <div class="col col-md-4">
                <mat-label class="etiqueta">Estatus </mat-label><br />
                <span class="{{ servicio.clase }}">{{ servicio.estatus }}</span><br />
            </div>
            <div class="col col-md-4">

            </div>
        </div>
    <hr />
    <div class="row">
        <div class="col col-md-7">
            <app-actividades [servicio]="id" (actividadCambia)="seleccionaActividad($event)"></app-actividades>
        </div>
        <div class="col col-md-5">
            <mat-tab-group color="primary">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">event</mat-icon>
                        Detalles de la actividad
                    </ng-template>
                    <br />
                    <div class="contenedor">
                        <h4> {{ seleccionado.actividad }} </h4>
                        <div class="row">
                            <mat-label>Fecha programada</mat-label>
                            <p>{{ seleccionado.fechaProgramado | date: 'dd/MM/yyyy' }}</p>
                        </div>
                        
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">attach_file</mat-icon>
                        Archivos relacionados
                    </ng-template>
                    <br />
                    <div class="contenedor">
                        <h4> {{ seleccionado.actividad }} </h4>
                        <mat-list>
                            <div mat-subheader>Documentos</div>
                            <mat-list-item *ngFor="let folder of folders">
                              <mat-icon mat-list-icon>note</mat-icon>
                              <div mat-line>{{folder.name}}</div>
                              <div mat-line> {{folder.updated | date}} </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <div mat-subheader>Imágenes/Videos</div>
                            <mat-list-item *ngFor="let note of notes">
                              <mat-icon mat-list-icon>image</mat-icon>
                              <div mat-line>{{note.name}} <mat-icon style="font-size: .90em;">download</mat-icon></div>
                              <div mat-line> {{note.updated | date}} </div>
                            </mat-list-item>
                          </mat-list>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>