<div class="container-fluid blanco">
    <h2>
        <mat-icon>article</mat-icon> MIA Particular
    </h2>

    <div class="row">
        <div class="col col-md-4">
            <mat-label class="etiqueta">Institucion</mat-label><br />
            <span class="texto">DGIRA Semarnat</span><br />
        </div>
        <div class="col col-md-4">
            <mat-label class="etiqueta">Fecha </mat-label><br />
            <span class="texto">Construcciones Importantes S.A. de C.V.</span><br />
        </div>
        <div class="col col-md-4"></div>
    </div>
    <br />
    <div class="row">
        <div class="col col-md-4">
            <mat-label class="etiqueta">Responsable</mat-label><br />
            <span class="texto">Miguel Angel Mancera</span><br />
        </div>
        <div class="col col-md-4">
            <mat-label class="etiqueta">Estatus </mat-label><br />
            <span class="texto">En proceso</span><br />
        </div>
        <div class="col col-md-4">

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col col-md-8">
            <app-actividades></app-actividades>
        </div>
    </div>
</div>