@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');


html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  max-width: 300px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.blanco {
  color: white;
}

.fondo {
  background-color: darkslategrey;
  color: white;
}

mat-toolbar {
  font-family: 'Poppins', sans-serif !important;
}