<mat-toolbar class="fondo">
  <button mat-icon-button aria-label="Example icon-button with menu icon" [routerLink]="['']" class="blanco">
    <mat-icon>home</mat-icon>
  </button>
  <span class="blanco">KM Consultores</span>
  <span class="example-spacer"></span>
  <span class="blanco">{{ userName }}</span>
  <button mat-icon-button aria-label="Favorito" class="blanco" *ngIf="isLogged">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button aria-label="Compartir" class="blanco" (click)="login()" matTooltip="Iniciar sesión"
    *ngIf="!isLogged">
    <mat-icon>power_settings_new</mat-icon>
  </button>
  <button mat-icon-button aria-label="Compartir" class="blanco" (click)="logout()" matTooltip="Cerrar sesión"
    *ngIf="isLogged">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<br />
<router-outlet></router-outlet>
<app-test></app-test>
