<mat-toolbar class="fondo">
  <button mat-icon-button aria-label="Example icon-button with menu icon" routerLink="home" class="blanco">
    <mat-icon>home</mat-icon>
  </button>
  <span class="blanco">KM-Consultores</span>
  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="Favorito" class="blanco">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button aria-label="Compartir" class="blanco" (click)="logout();">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<br/>
<router-outlet></router-outlet>
