<mat-toolbar class="fondo">
  <button mat-icon-button aria-label="Example icon-button with menu icon" routerLink="home" class="blanco">
    <mat-icon>home</mat-icon>
  </button>
  <span class="blanco">KM Consultores Legales</span>
  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="Favorito" class="blanco">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button aria-label="Compartir" class="blanco">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
