<div class="container-fluid">
    <div class="row">
        <div class="col col-md-6">
            <br />
            <div class="contenedor-big">
                <mat-card class="contenedor">
                    <mat-card-title>
                        <div class="row">
                            <div class="col col-md-9">
                                Catálogo de Clientes
                            </div>
                            <div class="col col-md-2">
                                <button mat-icon-button aria-label="Nueva" class="float-right"
                                    matTooltip="Nuevo Cliente" (click)="openDialog()">
                                    <mat-icon>add_circle_outline</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-title>
                    <!--  <table mat-table #table [dataSource]="dataSource" title="Clientes" matSort
                        aria-label="Listado de clientes" class="table table-striped table-hover" id="tblClientes"
                        name="tblClientes">
                        <ng-container matColumnDef="acciones">
                        </ng-container>
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> ID </th>
                            <td mat-cell *matCellDef="let row"> {{row.id }} </td>
                        </ng-container>
                        <ng-container matColumnDef="cliente">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 60%;"> Cliente </th>
                            <td mat-cell *matCellDef="let row"> {{row.razon | uppercase}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table> -->
                    <table aria-label="Clientes" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let clie of clientes" (click)="selectCliente(clie)"
                                [ngClass]="{seleccionado: seleccionado == clie}" style="cursor: pointer;">
                                <td>{{ clie.razon | uppercase }}</td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </mat-card>
               
            </div>
            <br />
            <br />
        </div>
        <div class="col col-md-6">
            <br />
            <br />
            <mat-card style="width: 100%;" *ngIf="seleccionado.id > 0">
                <mat-card-title>{{ seleccionado.razon }}</mat-card-title>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">source</mat-icon>
                    Generales
                </ng-template>
                <br />
                <div class="row">
                    <mat-form-field style="display: block;" class="roboto">
                        <mat-label>Razón Social</mat-label>
                        <input matInput name="razon" id="razon" [(ngModel)]="seleccionado.razon">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field style="display: block; width: 50%;">
                        <mat-label>RFC</mat-label>
                        <input matInput name="rfc" id="rfc" [(ngModel)]="seleccionado.rfc">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field style="display: block; width: 50%;">
                        <mat-label>nombre_corto</mat-label>
                        <input matInput name="nombre_corto" id="nombre_corto" [(ngModel)]="seleccionado.nombre_corto">
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col col-md-12">
                        <button mat-raised-button color="warn" class="float-left"
                            >Eliminar cliente</button>
                        <button mat-button cdkFocusInitial color="primary" class="float-right"
                        (click)="guardaCli(seleccionado);">Guardar</button>
                    </div>
                </div>
                <br />

            </mat-card>
    
           
        </div>
    </div>
</div>