
.roboto, .mat-card-header, .mat-tab {
    font-family: 'Roboto Condensed', sans-serif  !important;
}

.seleccionado {
    font-weight: bold;
    color: darkslateblue;
}

.contenedor {
    width: 100%; 
    max-height: 600px; 
    overflow: scroll;
    padding: 10px;
}

.contenedor-big {
    width: 100%; 
    max-height: 650px; 
    overflow: scroll;
    padding: 10px;
}