<div class="container-fluid"  style="min-height: 250px;">
    <div class="row">
        <div class="col col-md-10">
            <h3>
                <mat-icon>people</mat-icon> Equipo de trabajo
            </h3>
        </div>
        <div class="col col-md-2">
            <button mat-icon-button aria-label="Equipo de trabajo" matTooltip="Agrega personal al equipo de trabajo"
                (click)="nuevoEquipo()" class="float-end">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
    </div>
    <table aria-label="equipo" style="width: 100%">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let personal of equipo">
            <td>{{ personal.nombre }} {{ personal.apellidos }}</td>
            <td>
                <button mat-icon-button aria-label="Eliminar" (click)="borraEquipo(personal)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>