body {
    font-family: 'Poppins', sans-serif !important;
}

h3, mat-dialog-content, mat-form-field {
    font-family: 'Poppins', sans-serif !important;
}

.poppins {
    font-family: 'Poppins', sans-serif !important;
}
