.roboto, .mat-card, .mat-tab {
    font-family: 'Poppins', sans-serif  !important;
}

mat-card-title {
    font-family: 'Poppins', sans-serif  !important;
}
.mat-tab-label {
    text-align: left !important;
    font-family: 'Poppins', sans-serif  !important;
    font-size: small;
}

.seleccionado {
    font-weight: bold;
    color: darkslateblue;
}

.contenedor {
    width: 100%; 
    max-height: 300px; 
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
}

.contenedor-big {
    width: 100%; 
    max-height: 650px; 
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

tr {
    line-height: 25px;
}
