
.report-container {
  width: 98%;
  height: 100%;
  margin: 2px;
}

.fondo {
  background-color: cadetblue;
  color: white;
}

.fondo-blanco {
  background-color: white;
  color: darkslategrey;
}

.blanco {
  color: white;
}