<h2 mat-dialog-title>Registro de Actividades/Compromisos</h2>
<mat-dialog-content class="mat-typography">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Responsable</mat-label>
            <mat-select name="categoria">
                <mat-option value="1">
                    Juan Alberto Jiménez
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Compromisos</mat-label>
            <input matInput name="nombre" placeholder="Describa la actividad">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 48%;">
            <mat-label>Fecha programada</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field appearance="fill" style="width: 48%;">
            <mat-label>Fecha realizada</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Responsable</mat-label>
            <mat-select name="categoria">
                <mat-option value="1">
                    Juan Alberto Jiménez
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Observaciones</mat-label>
            <textarea matInput placeholder="Escriba observaciones o comentarios relevantes al servicio..."></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>