mat-table {
    width: 100%;
    font-family: 'Poppins', sans-serif !important;
}

.celda {
    cursor: pointer;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif !important;
}

.icon-km {
    color: darkslategrey;
}

.vinculo {
    text-decoration: underline;
    color: darkslategray;
}