
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
}

html { 
  margin: 0;
  
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://media.ambito.com/p/86577f2cd56624e85dbdac0fd9b477e6/adjuntos/239/imagenes/037/557/0037557128/medioambientejpeg.jpeg');
  background-size: cover;
}

.header-image-servicios {
  background-image: url('https://treehouse.wpenginepowered.com/wp-content/uploads/2013/12/files-and-folders.jpg');
  background-size: cover;
}

